.wrap{
    width: 1200px;
    margin: 0 auto;
}
h1{
    text-shadow: 5px -10px 10px red, 5px 10px 10px blue;
}
.row{
    width: 100%;
    display: block;
}
.col{
    width: 30%;
    display: block;
    float: left;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px rgba(80,80,80,0.2);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.2);
    -moz-box-shadow: 0 0 10px rgba(80,80,80,0.2);
    -o-box-shadow: 0 0 10px rgba(80,80,80,0.2);
    -ms-box-shadow: 0 0 10px rgba(80,80,80,0.2);
    /*margin: 0 20px;*/
    transition: all 1s ease-in-out;
}
.col:hover{
    transform: rotateZ(360deg) scale(2,1.5);                    /* translateX(100px) translateY(200px); */
    background-color: #7de29e;                  /* rotateX(360deg),rotateY(360deg),rotateZ(360deg); */
    color: white;                               /* scaleX(2) scaleY(1.5); */
    box-shadow: 0 0 10px rgba(80,80,80,0.8);    /* skewX(45deg), skewY(45deg) */
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.8);
}
.row .col:nth-child(2){
    margin: 0 20px;
}
.row .col:first-child .sana{
    background-color: indianred;
    /*background: linear-gradient(0deg, #ff85a2, #ffb82c);*/
    background: radial-gradient(#ff85a2, #ffb82c);
}
.sana{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5rem 0;                    /* 1rem = 16px */
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background-color: #7de29e;
    color: white;
    background: linear-gradient(0deg, #7de29e, #7579e2);
}
.text-sana{
    padding: 2rem 0;
    text-align: center;
}





